# `Taller de heterocedasticidad`

Maria Reales - 64141084

Daniela Ramirez - 64201111

NicolÃ¡s Cardenas - 63181008

#Primer punto

In [116]:
!pip install wooldRidge
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import wooldridge as wd
import scipy.stats as st
import statsmodels.api as sm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: wooldRidge in /usr/local/lib/python3.10/dist-packages (0.4.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from wooldRidge) (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldRidge) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldRidge) (2022.7.1)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas->wooldRidge) (1.22.4)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas->wooldRidge) (1.16.0)

In [117]:
df = wd.data ("sleep75")

In [118]:
df

,age,black,case,clerical,construc,educ,earns74,gdhlth,inlf,leis1,...,spwrk75,totwrk,union,worknrm,workscnd,exper,yngkid,yrsmarr,hrwage,agesq
0,32,0,1,0.000000,0.000000,12,0.0,0,1,3529,...,0,3438,0,3438,0,14,0,13,7.070004,1024
1,31,0,2,0.000000,0.000000,14,9500.0,1,1,2140,...,0,5020,0,5020,0,11,0,0,1.429999,961
2,44,0,3,0.000000,0.000000,17,42500.0,1,1,4595,...,1,2815,0,2815,0,21,0,0,20.529997,1936
3,30,0,4,0.000000,0.000000,12,42500.0,1,1,3211,...,1,3786,0,3786,0,12,0,12,9.619998,900
4,64,0,5,0.000000,0.000000,14,2500.0,1,1,4052,...,1,2580,0,2580,0,44,0,33,2.750000,4096
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
701,45,0,702,0.182331,0.030075,12,5500.0,1,0,5069,...,1,2026,0,2026,0,27,0,18,NaN,2025
702,34,0,703,0.182331,0.030075,10,2500.0,0,0,5885,...,0,675,1,465,210,18,0,4,NaN,1156
703,37,0,704,0.182331,0.030075,12,3500.0,1,0,4719,...,1,1851,0,1851,0,19,0,17,NaN,1369
704,54,0,705,0.182331,0.030075,17,32500.0,1,0,5149,...,1,1961,1,1481,480,31,0,22,NaN,2916
705,30,0,706,0.182331,0.030075,16,6750.0,1,0,4747,...,0,2363,0,2363,0,8,1,9,NaN,900

In [119]:
df.isna().sum()

age           0
black         0
case          0
clerical      0
construc      0
educ          0
earns74       0
gdhlth        0
inlf          0
leis1         0
leis2         0
leis3         0
smsa          0
lhrwage     174
lothinc       0
male          0
marr          0
prot          0
rlxall        0
selfe         0
sleep         0
slpnaps       0
south         0
spsepay       0
spwrk75       0
totwrk        0
union         0
worknrm       0
workscnd      0
exper         0
yngkid        0
yrsmarr       0
hrwage      174
agesq         0
dtype: int64

In [120]:
wd.data('sleep75', description=True)

name of dataset: sleep75
no of variables: 34
no of observations: 706

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| age      | in years                       |
| black    | =1 if black                    |
| case     | identifier                     |
| clerical | =1 if clerical worker          |
| construc | =1 if construction worker      |
| educ     | years of schooling             |
| earns74  | total earnings, 1974           |
| gdhlth   | =1 if in good or excel. health |
| inlf     | =1 if in labor force           |
| leis1    | sleep - totwrk                 |
| leis2    | slpnaps - totwrk               |
| leis3    | rlxall - totwrk                |
| smsa     | =1 if live in smsa             |
| lhrwage  | log hourly wage                |
| lothinc  | log othinc, unless othinc < 0  |
| male     | =1 if male                     |
| marr     | =1 if married                  |
| prot     | =1 if Protestant               |
| rlxall   | slpnaps + personal activs      |
| selfe    | =1 if self employed            |
| sleep    | mins sleep at night, per wk    |
| slpnaps  | minutes sleep, inc. naps       |
| south    | =1 if live in south            |
| spsepay  | spousal wage income            |
| spwrk75  | =1 if spouse works             |
| totwrk   | mins worked per week           |
| union    | =1 if belong to union          |
| worknrm  | mins work main job             |
| workscnd | mins work second job           |
| exper    | age - educ - 6                 |
| yngkid   | =1 if children < 3 present     |
| yrsmarr  | years married                  |
| hrwage   | hourly wage                    |
| agesq    | age^2                          |
+----------+--------------------------------+

J.E. Biddle and D.S. Hamermesh (1990), âSleep and the Allocation of
Time,â Journal of Political Economy 98, 922-943. Professor Biddle
kindly provided the data.

In [121]:
x = ['age', 'educ', 'slpnaps', 'clerical', 'construc', 'worknrm ', 'workscnd', 'yrsmarr']

In [122]:
y = ['sleep']

In [123]:
y = df["sleep"]
x = df[['age', 'educ', 'slpnaps', 'clerical', 'construc', 'workscnd', 'yrsmarr']]
model = sm.add_constant(x)
model = sm.OLS(y,x).fit()
model.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  sleep   R-squared (uncentered):                   0.996
Model:                            OLS   Adj. R-squared (uncentered):              0.996
Method:                 Least Squares   F-statistic:                          2.520e+04
Date:                Fri, 12 May 2023   Prob (F-statistic):                        0.00
Time:                        16:31:36   Log-Likelihood:                         -4767.0
No. Observations:                 706   AIC:                                      9548.
Df Residuals:                     699   BIC:                                      9580.
Df Model:                           7
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age            1.5816      0.803      1.969      0.049       0.005       3.158
educ          16.5128      2.238      7.379      0.000      12.119      20.907
slpnaps        0.8821      0.011     78.880      0.000       0.860       0.904
clerical     -20.5765     23.557     -0.873      0.383     -66.827      25.674
construc      74.5643     53.197      1.402      0.161     -29.880     179.009
workscnd      -0.0014      0.053     -0.026      0.979      -0.105       0.103
yrsmarr        0.4695      0.839      0.559      0.576      -1.178       2.117
==============================================================================
Omnibus:                      519.909   Durbin-Watson:                   2.099
Prob(Omnibus):                  0.000   Jarque-Bera (JB):             9193.942
Skew:                          -3.150   Prob(JB):                         0.00
Kurtosis:                      19.518   Cond. No.                     2.32e+04
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 2.32e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [124]:
#White
x = np.c_[np.ones(len(x)), x]

In [125]:
betas = np.linalg.inv(x.T.dot(x)).dot(x.T.dot(y))

In [126]:
y_est = x.dot(betas)
y_est_2 = y_est ** 2
u_est = y - y_est
u_est_2 = u_est ** 2

In [127]:
x_u = np.c_[np.ones(len(y_est)), y_est, y_est_2]

In [128]:
betas_u = np.linalg.inv(x_u.T.dot(x_u)).dot(x_u.T.dot(u_est_2))

In [129]:
u_est_2_est = x_u.dot(betas_u)
sst = sum((u_est_2 - u_est_2.mean()) ** 2) 
sse = sum((u_est_2_est - u_est_2.mean()) ** 2)
r2 = sse / sst

In [130]:
chi_stat = len(x_u) * r2

In [131]:
chi_stat

358.15172887204886

In [132]:
chi = st.chi2(2)
p_valor = 1 - chi.cdf(chi_stat)

In [133]:
p_valor

0.0

Se rechaza la Hipotesis Nula, debido a que el P valor es < 0,05% por tal razon se define que en el modelo existe Heterocedasticidad.

#Segundo punto

In [134]:
data = wd.data ("hprice1")

In [135]:
data

,price,assess,bdrms,lotsize,sqrft,colonial,lprice,lassess,llotsize,lsqrft
0,300.0,349.100006,4,6126.0,2438,1,5.703783,5.855359,8.720297,7.798934
1,370.0,351.500000,3,9903.0,2076,1,5.913503,5.862210,9.200593,7.638198
2,191.0,217.699997,3,5200.0,1374,0,5.252274,5.383118,8.556414,7.225482
3,195.0,231.800003,3,4600.0,1448,1,5.273000,5.445875,8.433811,7.277938
4,373.0,319.100006,4,6095.0,2514,1,5.921578,5.765504,8.715224,7.829630
...,...,...,...,...,...,...,...,...,...,...
83,295.0,318.299988,3,6056.0,1837,1,5.686975,5.762994,8.708805,7.515889
84,236.0,259.399994,3,5828.0,1715,0,5.463832,5.558371,8.670429,7.447168
85,202.5,258.100006,3,6341.0,1574,0,5.310740,5.553347,8.754792,7.361375
86,219.0,232.000000,2,6362.0,1185,0,5.389072,5.446737,8.758098,7.077498
87,242.0,252.000000,4,4950.0,1774,1,5.488938,5.529429,8.507143,7.480992

In [136]:
y = data["price"]
x = data[['lotsize', 'sqrft', 'bdrms']]
model = sm.add_constant(x)
model = sm.OLS(y,x)
Reg = model.fit()
Reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  price   R-squared (uncentered):                   0.964
Model:                            OLS   Adj. R-squared (uncentered):              0.963
Method:                 Least Squares   F-statistic:                              767.4
Date:                Fri, 12 May 2023   Prob (F-statistic):                    2.01e-61
Time:                        16:31:37   Log-Likelihood:                         -483.16
No. Observations:                  88   AIC:                                      972.3
Df Residuals:                      85   BIC:                                      979.8
Df Model:                           3
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
lotsize        0.0021      0.001      3.211      0.002       0.001       0.003
sqrft          0.1197      0.013      9.543      0.000       0.095       0.145
bdrms          9.7842      7.111      1.376      0.172      -4.355      23.924
==============================================================================
Omnibus:                       24.233   Durbin-Watson:                   2.081
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               41.781
Skew:                           1.095   Prob(JB):                     8.46e-10
Kurtosis:                       5.569   Cond. No.                     1.52e+04
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The condition number is large, 1.52e+04. This might indicate that there are
strong multicollinearity or other numerical problems.
"""

In [141]:
#White
x = np.c_[np.ones(len(x)), x]

In [142]:
betas = np.linalg.inv(x.T.dot(x)).dot(x.T.dot(y))

In [143]:
y_est = x.dot(betas)
y_est_2 = y_est ** 2
u_est = y - y_est
u_est_2 = u_est ** 2

In [144]:
x_u = np.c_[np.ones(len(y_est)), y_est, y_est_2]

In [145]:
betas_u = np.linalg.inv(x_u.T.dot(x_u)).dot(x_u.T.dot(u_est_2))

In [146]:
u_est_2_est = x_u.dot(betas_u)
sst = sum((u_est_2 - u_est_2.mean()) ** 2) 
sse = sum((u_est_2_est - u_est_2.mean()) ** 2)
r2 = sse / sst

In [147]:
chi_stat = len(x_u) * r2

In [148]:
chi_stat

5.490045377512998

In [149]:
chi = st.chi2(2)
p_valor = 1 - chi.cdf(chi_stat)

In [150]:
p_valor

0.06424684324698426

No se rechaza la Hipotesis Nula, debido a que el P valor es > 0,05%texto en cursiva por tal razon se define que en el modelo no existe Heterocedasticidad.

#Tercer punto

In [137]:
dt = wd.data ("vote1")

In [138]:
dt

,state,district,democA,voteA,expendA,expendB,prtystrA,lexpendA,lexpendB,shareA
0,AL,7,1,68,328.295990,8.737000,41,5.793916,2.167567,97.407669
1,AK,1,0,62,626.377014,402.476990,60,6.439952,5.997638,60.881039
2,AZ,2,1,73,99.607002,3.065000,55,4.601233,1.120048,97.014763
3,AZ,3,0,69,319.690002,26.281000,64,5.767352,3.268846,92.403702
4,AR,3,0,75,159.220993,60.054001,66,5.070293,4.095244,72.612473
...,...,...,...,...,...,...,...,...,...,...
168,WV,4,0,39,32.039001,152.270996,42,3.466954,5.025662,17.383217
169,WI,3,1,32,22.625999,359.800995,53,3.119100,5.885551,5.916420
170,WI,5,0,36,197.460007,1278.526001,36,5.285536,7.153463,13.378174
171,WI,7,0,38,202.591003,450.716003,46,5.311189,6.110837,31.010078
172,WI,8,1,30,14.421000,227.822998,47,2.668685,5.428569,5.953087

In [153]:
y = dt['voteA']
x = dt[['prtystrA', 'democA', 'lexpendA', 'lexpendB']]
model = sm.add_constant(x)
model = sm.OLS(y,x)
Reg = model.fit()
Reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:                  voteA   R-squared (uncentered):                   0.973
Model:                            OLS   Adj. R-squared (uncentered):              0.972
Method:                 Least Squares   F-statistic:                              1518.
Date:                Fri, 12 May 2023   Prob (F-statistic):                   3.03e-131
Time:                        16:39:52   Log-Likelihood:                         -620.83
No. Observations:                 173   AIC:                                      1250.
Df Residuals:                     169   BIC:                                      1262.
Df Model:                           4
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
prtystrA       0.7083      0.049     14.319      0.000       0.611       0.806
democA        10.2889      1.339      7.682      0.000       7.645      12.933
lexpendA       5.8980      0.458     12.878      0.000       4.994       6.802
lexpendB      -4.1761      0.352    -11.851      0.000      -4.872      -3.480
==============================================================================
Omnibus:                        5.311   Durbin-Watson:                   1.397
Prob(Omnibus):                  0.070   Jarque-Bera (JB):                4.968
Skew:                           0.405   Prob(JB):                       0.0834
Kurtosis:                       3.180   Cond. No.                         103.
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [154]:
#Breusch-Pagan
betas_u = np.linalg.inv(x.T.dot(x)).dot(x.T.dot(u_est_2))

In [155]:
betas_u

array([ 1.08181899, 35.27586318, -9.94648941,  6.18743756])

In [156]:
u_est_2_est = x.dot(betas_u)
sst = sum((u_est_2 - u_est_2.mean()) ** 2) 
sse = sum((u_est_2_est - u_est_2.mean()) ** 2)
r2 = sse / sst

In [157]:
r2

0.051921750029591686

In [158]:
chi_stat = len(x) * r2

In [159]:
chi_stat

8.982462755119363

In [160]:
chi = st.chi2(1)
p_valor = 1 - chi.cdf(chi_stat)

In [161]:
p_valor

0.0027258301598177548

Se rechaza la Hipotesis Nula, debido a que el P valor es > 0,05%texto en cursiva por tal razon se define que en el modelo existe Heterocedasticidad.

#Cuarto punto

In [162]:
dato = wd.data ("fertil2")

In [163]:
dato

,mnthborn,yearborn,age,electric,radio,tv,bicycle,educ,ceb,agefbrth,...,heduc,agesq,urban,urb_educ,spirit,protest,catholic,frsthalf,educ0,evermarr
0,5,64,24,1.0,1.0,1.0,1.0,12,0,NaN,...,NaN,576,1,12,0,0,0,1,0,0
1,1,56,32,1.0,1.0,1.0,1.0,13,3,25.0,...,12.0,1024,1,13,0,0,0,1,0,1
2,7,58,30,1.0,0.0,0.0,0.0,5,1,27.0,...,7.0,900,1,5,1,0,0,0,0,1
3,11,45,42,1.0,0.0,1.0,0.0,4,3,17.0,...,11.0,1764,1,4,0,0,0,0,0,1
4,5,45,43,1.0,1.0,1.0,1.0,11,2,24.0,...,14.0,1849,1,11,0,1,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4356,6,72,16,0.0,1.0,0.0,0.0,7,0,NaN,...,NaN,256,0,0,0,1,0,1,0,0
4357,1,60,28,0.0,1.0,0.0,0.0,7,2,19.0,...,NaN,784,0,0,0,1,0,1,0,0
4358,11,63,24,0.0,1.0,0.0,0.0,5,4,13.0,...,NaN,576,0,0,0,1,0,0,0,0
4359,1,62,26,0.0,1.0,0.0,0.0,0,1,25.0,...,7.0,676,0,0,1,0,0,1,1,1
4360,12,51,36,0.0,1.0,0.0,0.0,3,6,22.0,...,0.0,1296,0,0,0,1,0,0,0,1

In [164]:
wd.data('fertil2', description=True)

name of dataset: fertil2
no of variables: 27
no of observations: 4361

+----------+--------------------------------+
| variable | label                          |
+----------+--------------------------------+
| mnthborn | month woman born               |
| yearborn | year woman born                |
| age      | age in years                   |
| electric | =1 if has electricity          |
| radio    | =1 if has radio                |
| tv       | =1 if has tv                   |
| bicycle  | =1 if has bicycle              |
| educ     | years of education             |
| ceb      | children ever born             |
| agefbrth | age at first birth             |
| children | number of living children      |
| knowmeth | =1 if know about birth control |
| usemeth  | =1 if ever use birth control   |
| monthfm  | month of first marriage        |
| yearfm   | year of first marriage         |
| agefm    | age at first marriage          |
| idlnchld | 'ideal' number of children     |
| heduc    | husband's years of education   |
| agesq    | age^2                          |
| urban    | =1 if live in urban area       |
| urb_educ | urban*educ                     |
| spirit   | =1 if religion == spirit       |
| protest  | =1 if religion == protestant   |
| catholic | =1 if religion == catholic     |
| frsthalf | =1 if mnthborn <= 6            |
| educ0    | =1 if educ == 0                |
| evermarr | =1 if ever married             |
+----------+--------------------------------+

These data were obtained by James Heakins, a former MSU undergraduate,
for a term project. They come from Botswanaâs 1988 Demographic and
Health Survey.

In [166]:
dato.isna().sum()

mnthborn       0
yearborn       0
age            0
electric       3
radio          2
tv             2
bicycle        3
educ           0
ceb            0
agefbrth    1088
children       0
knowmeth       7
usemeth       71
monthfm     2282
yearfm      2282
agefm       2282
idlnchld     120
heduc       2405
agesq          0
urban          0
urb_educ       0
spirit         0
protest        0
catholic       0
frsthalf       0
educ0          0
evermarr       0
dtype: int64

In [168]:
y = dato['children']
x = dato[['age', 'mnthborn', 'yearborn', 'evermarr', 'catholic']]
model = sm.add_constant(x)
model = sm.OLS(y,x)
Reg = model.fit()
Reg.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                                 OLS Regression Results
=======================================================================================
Dep. Variable:               children   R-squared (uncentered):                   0.784
Model:                            OLS   Adj. R-squared (uncentered):              0.784
Method:                 Least Squares   F-statistic:                              3165.
Date:                Fri, 12 May 2023   Prob (F-statistic):                        0.00
Time:                        16:49:50   Log-Likelihood:                         -7882.7
No. Observations:                4361   AIC:                                  1.578e+04
Df Residuals:                    4356   BIC:                                  1.581e+04
Df Model:                           5
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
age            0.1367      0.002     59.708      0.000       0.132       0.141
mnthborn      -0.0160      0.007     -2.388      0.017      -0.029      -0.003
yearborn      -0.0284      0.001    -28.392      0.000      -0.030      -0.026
evermarr       0.7531      0.052     14.443      0.000       0.651       0.855
catholic      -0.1685      0.074     -2.286      0.022      -0.313      -0.024
==============================================================================
Omnibus:                      208.032   Durbin-Watson:                   1.827
Prob(Omnibus):                  0.000   Jarque-Bera (JB):              736.751
Skew:                           0.050   Prob(JB):                    1.04e-160
Kurtosis:                       5.011   Cond. No.                         220.
==============================================================================

Notes:
[1] RÂ² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [169]:
#White
x = np.c_[np.ones(len(x)), x]

In [170]:
betas = np.linalg.inv(x.T.dot(x)).dot(x.T.dot(y))

In [171]:
y_est = x.dot(betas)
y_est_2 = y_est ** 2
u_est = y - y_est
u_est_2 = u_est ** 2

In [172]:
x_u = np.c_[np.ones(len(y_est)), y_est, y_est_2]

In [173]:
betas_u = np.linalg.inv(x_u.T.dot(x_u)).dot(x_u.T.dot(u_est_2))

In [174]:
u_est_2_est = x_u.dot(betas_u)
sst = sum((u_est_2 - u_est_2.mean()) ** 2) 
sse = sum((u_est_2_est - u_est_2.mean()) ** 2)
r2 = sse / sst

In [175]:
chi_stat = len(x_u) * r2

In [177]:
chi_stat

1053.7753474400008

In [178]:
chi = st.chi2(2)
p_valor = 1 - chi.cdf(chi_stat)

In [179]:
p_valor

0.0

Se rechaza la Hipotesis Nula, debido a que el P valor es > 0,05% por tal razon se define que en el modelo existe Heterocedasticidad.